# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
pokemon.columns = ['#', 'Name', 'Type1', 'Type2', 'Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary']
pokemon.head()

,#,Name,Type1,Type2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
leg = pokemon.query('Legendary == True')
com = pokemon.query('Legendary == False')

print(f'Number of legendary pokemons: {leg.shape[0]}')
print(f'Number of non-legendary pokemons: {com.shape[0]}')

Number of legendary pokemons: 65
Number of non-legendary pokemons: 735

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
print(f'common pokemon Total mean points : {round(com.Total.mean(),3)}')
print(f'common pokemon Total std points : {round(com.Total.std(),3)}')
print(f'legendary pokemon Total mean points : {round(leg.Total.mean(),3)}')
print(f'legendary pokemon Total std points : {round(leg.Total.std(),3)}')

common pokemon Total mean points : 417.214
common pokemon Total std points : 106.76
legendary pokemon Total mean points : 637.385
legendary pokemon Total std points : 60.937

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [6]:
from scipy.stats import ttest_ind

ttest_ind(com.Total,leg.Total)

Ttest_indResult(statistic=-16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

In [7]:
"""
Since we have a t-test statistic resulting in a p value of zero, we can reject the null hypothesis for the T test.
Therefore, we CAN assume that the mean of total points for common pokemons and legendary pokemons ARE NOT EQUAL.
"""

'\nSince we have a test statistic resulting in a p value of zero, we can reject the null hypothesis for the T test.\nTherefore, we can assume that the mean of total points for common pokemons and legendary pokemons ARE NOT EQUAL.\n'

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [15]:
pokemon.loc[:,'Type1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [26]:
# Your code here:
pokemon.loc[:,['Type1','Total']].groupby('Type1').describe().loc[:,[('Total','mean'),('Total','std')]].T

Type1              Bug        Dark      Dragon    Electric       Fairy  \
Total mean  378.927536  445.741935  550.531250  443.409091  413.176471
      std   117.875223  109.126217  146.267538  105.721952  123.781680

Type1         Fighting        Fire      Flying       Ghost       Grass  \
Total mean  416.444444  458.076923  485.000000  439.562500  421.142857
      std   102.464378  109.760496  161.400124  110.072685  106.650626

Type1           Ground         Ice      Normal      Poison     Psychic  \
Total mean  437.500000  433.458333  401.683673  399.142857  475.947368
      std   123.913081  108.281027  115.733038   92.358687  139.026645

Type1             Rock       Steel       Water
Total mean  453.750000  487.703704  430.455357
      std   108.059227  115.420907  113.188266

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [32]:
# Your code here:
ttest_ind(pokemon.query('Type1 == "Water"').Total,pokemon.query('Type1 != "Water"').Total, equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [10]:
"assume the variances are equal"

"""
Since we have a t-test statistic resulting in a p value of 0.658, we cannot reject the null hypothesis for the T test.
Therefore, we CAN NOT assume that the mean of total points for common pokemons and legendary pokemons ARE NOT EQUAL.
"""

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [34]:
from scipy.stats import ttest_rel

In [40]:
# Your code here:
ttest_rel(pokemon.Defense, pokemon.Attack)

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:DASDASDASDASD
"""
Since we have a t-test statistic resulting in a p value of 0.658, we cannot reject the null hypothesis for the T test.
Therefore, we CAN NOT assume that the mean of total points for common pokemons and legendary pokemons ARE NOT EQUAL.
"""

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [46]:
# Your code here:
ttest_rel(pokemon.loc[:,'Sp. Def'],pokemon.loc[:,'Sp. Atk'])

Ttest_relResult(statistic=-0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:ASDASDASDASDASD
"""
Since we have a t-test statistic resulting in a p value of 0.658, we cannot reject the null hypothesis for the T test.
Therefore, we CAN NOT assume that the mean of total points for common pokemons and legendary pokemons ARE NOT EQUAL.
"""

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [48]:
from scipy.stats import ttest_1samp

In [55]:
a = pokemon.Defense - pokemon.Attack
ttest_1samp(a, popmean=0)

Ttest_1sampResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

In [ ]:
""" ADASDASDASDASDASDASD
Since we have a t-test statistic resulting in a p value of 0.658, we cannot reject the null hypothesis for the T test.
Therefore, we CAN NOT assume that the mean of total points for common pokemons and legendary pokemons ARE NOT EQUAL.
"""

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [77]:
# Your code here:
ctable = pd.crosstab(index=[pokemon.Type1 == 'Water'], columns=[pokemon.Legendary], rownames=['Water'], colnames=['Legendary'])
ctable

Legendary  False  True
Water
False        627     61
True         108      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [76]:
from scipy.stats import chi2_contingency

In [78]:
# Your code here:
chi2_contingency(ctable)

(2.9429200762850503,
 0.08625467249550949,
 1,
 array([[632.1,  55.9],
        [102.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: