# Project 5 - Linear Regression - Diamonds Dataset!

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
data = pd.read_csv('diamonds.csv')
rick_data = pd.read_csv('rick_diamonds.csv')

# Taking a look at the dataset

In [7]:
data.head()

   carat        cut color clarity  depth  table  price     x     y     z
0   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
1   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
2   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
3   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
4   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48

In [10]:
rick_data.head()

   carat        cut color clarity  depth  table     x     y     z
0   0.91  Very Good     H     SI2   63.4   57.0  6.10  6.18  3.89
1   0.38       Good     F     VS2   60.3   61.0  4.68  4.71  2.83
2   0.52      Ideal     H     VS2   61.8   56.0  5.19  5.16  3.20
3   1.10      Ideal     G     VS1   61.3   56.0  6.65  6.69  4.09
4   2.28      Ideal     G     SI2   61.6   57.0  8.44  8.37  5.18

# Estimating prices

1 - Our first estimative would be getting the mean_price, and comparing it to the to generate a score

In [9]:
mean_price = data.loc[:,'price'].mean()
mean_price

3934.409644462607

# Check score

In [20]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [16]:
#measuring RMSE
data['predicted'] = mean_price

In [19]:
mse = mean_squared_error(data.price, data.predicted)
rmse = np.sqrt(mse)
rmse

3989.293102899151

In [21]:
print(f'{r2_score(y_true=data.price, y_pred=data.predicted)})

0.0

# We now predict the values of the the rick_diamonds dataset

In [11]:
rick_data['price_predicted'] = mean_price

In [12]:
rick_data.head()

,carat,cut,color,clarity,depth,table,x,y,z,price_predicted
0,0.91,Very Good,H,SI2,63.4,57.0,6.10,6.18,3.89,3934.409644
1,0.38,Good,F,VS2,60.3,61.0,4.68,4.71,2.83,3934.409644
2,0.52,Ideal,H,VS2,61.8,56.0,5.19,5.16,3.20,3934.409644
3,1.10,Ideal,G,VS1,61.3,56.0,6.65,6.69,4.09,3934.409644
4,2.28,Ideal,G,SI2,61.6,57.0,8.44,8.37,5.18,3934.409644

# Export Data

In [ ]:
rick_data.to_csv()