## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [21]:
import random
random.seed(a=1)

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [22]:
# Your code here
sample_list_1 = random.sample(range(0, 100), 80)

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [52]:
# Your code here
set1 = set(sample_list_1)
print(set1)

print("\n",len(set1))


if len(set1) == 80:
    print('Yes! Its length is still 80!')

{0, 1, 2, 3, 5, 6, 7, 8, 11, 12, 13, 14, 15, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 82, 83, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 97, 98, 99}

 80
Yes! Its length is still 80!

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2 = random.sample(range(0, 100), 80)

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

if len(set2) == 80:
    print('Yes! Its length is still 80!')

80
Yes! Its length is still 80!

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [56]:
#values only in 1
set3 = set1 - set2
print(f'\nSet3 is: {set3}')

Set3 is: {97, 98, 6, 71, 72, 41, 42, 43, 15, 48, 17, 18, 19, 54, 59, 94, 95}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [60]:
#values only in 2
set4 = set2 - set1
print(f'\nSet4 is: {set4}')

Set4 is: {96, 65, 66, 4, 37, 36, 38, 44, 16, 80, 50, 51, 20, 53, 81, 84, 90}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = set2.intersection(set1)
print(f'\nSet5 is: {set5}')

Set5 is: {0, 1, 2, 3, 5, 7, 8, 11, 12, 13, 14, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 39, 40, 45, 46, 47, 49, 52, 55, 56, 57, 58, 60, 61, 62, 63, 64, 67, 68, 69, 70, 73, 74, 75, 76, 77, 78, 79, 82, 83, 85, 86, 87, 88, 89, 91, 92, 93, 99}

#### What is the Venn relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here

print(f'The length of set1 is: {len(set1)}')
print(f'The length of set2 is: {len(set2)}')
print(f'The length of set3 is: {len(set3)}')
print(f'The length of set4 is: {len(set4)}')
print(f'The length of set5 is: {len(set5)}')
print('\nThe relationship between the lenghts is that, if you imagine that set1 and set2' 
      + ' are both collections of 80 distinct numbers, the length of set5 would be the union'
      + ' between those two collections, meaning they have 64 numbers in common. Meanwhile,' 
      + ' len(set3) means that there are 16 numbers in collection 1 which are not in 2, while len(set4)'
      + ' means that there are 16 numbers in collection 2 that are not in collection 1.')

The length of set1 is: 80
The length of set2 is: 80
The length of set3 is: 17
The length of set4 is: 17
The length of set5 is: 63

The relationship between the lenghts is that, if you imagine that set1 and set2 are both collections of 80 distinct numbers, the length of set5 would be the union between those two collections, meaning they have 64 numbers in common. Meanwhile, len(set3) means that there are 16 numbers in collection 1 which are not in 2, while len(set4) means that there are 16 numbers in collection 2 that are not in collection 1.

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6 = set([])

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
set6 = set3.update(set5)

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
set1 == set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here
ans = set2.issubset(set1)

print('Does set1 contains set2?\n',ans)

# Your code here
ans = set3.issubset(set1)

print('Does set1 contains set3?\n',ans)

Does set1 contains set2?
 False
Does set1 contains set3?
 True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [61]:
# Your code here
Agg1 = set3.union(set4,set5)
Agg2 = set1.union(set2)

Agg1 == Agg2

True

#### Using the `pop` method, remove the first element from `set1`.

In [62]:
# Your code here
set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [63]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for number in list_to_remove:
    set1.discard(number)

print(set1)

{2, 3, 5, 6, 7, 8, 12, 13, 14, 15, 17, 18, 22, 23, 24, 25, 26, 27, 28, 30, 32, 34, 35, 40, 42, 43, 45, 46, 47, 48, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 82, 83, 85, 86, 87, 88, 92, 93, 94, 95, 97, 98}