In [144]:
import pandas as pd
import numpy as np
import os
import re

In [5]:
os.listdir('../Project3_API-WScrap/')

['.ipynb_checkpoints',
 'events_data.csv',
 'parks_data.csv',
 'WEB-events-API-parks.ipynb',
 'web-scraping-project.pdf']

In [7]:
events = pd.read_csv('../Project3_API-WScrap/events_data.csv')

In [55]:
tipos = [type(x) for x in events.lineup]

In [63]:
pd.DataFrame({'a':np.array(tipos)}).a.unique()

array([<class 'str'>, <class 'float'>], dtype=object)

In [170]:
def sum_list(lista):
    x = ''
    for element in lista:
        x = x + element + ' '
    
    return x.strip()


musicians = []

for row in events.lineup:
    
    if type(row) == str:   
    
        my_list = row.split(',')

        for musician in my_list:
            musicians.append(musician.strip())

musicians = pd.DataFrame({'col': musicians}).col.unique()
unic_art = pd.DataFrame({'artist':musicians})

unic_art.artist = unic_art.artist.apply(lambda x: sum_list(re.findall('\w+',x)))
unic_art.artist = unic_art.artist.apply(lambda x: x.split('"')[1] if x.startswith('"') else x)
unic_art.artist = unic_art.artist.apply(lambda x: x.split('"')[0] if x.endswith('"') else x)
unic_art.artist = unic_art.artist.apply(lambda x: 'noname' if len(x) <3 else x)



unic_art.artist = unic_art.artist.sort_values().reset_index(drop=True)


print(f'artistas únicos: {len(unic_art.artist.unique())}')

artistas únicos: 8534

In [184]:
mask = unic_art.artist.apply(lambda x: True if x.startswith('DJ') else False)
unic_art.loc[mask]

                                                 artist
1737                                           DJ 2nite
1738                                            DJ 5657
1739                                             DJ 9AM
1740                                           DJ A N T
1741                                      DJ ANGEL EYES
...                                                 ...
2056                                                DJs
2057                                                DJs
2058  DJs Dewey Chan and Miggz Opening set by Blind ...
2059                                 DJs Pierce Jackson
2060                                          DJs Saphe

[324 rows x 1 columns]

In [87]:
unic_art.to_csv('data.csv')