# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [6]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [10]:
orders = pd.read_csv('../data/orders_sample.csv')
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   InvoiceNo     20000 non-null  int64
 1   StockCode     20000 non-null  object
 2   year          20000 non-null  int64
 3   month         20000 non-null  int64
 4   day           20000 non-null  int64
 5   hour          20000 non-null  int64
 6   Description   20000 non-null  object
 7   Quantity      20000 non-null  int64
 8   InvoiceDate   20000 non-null  object
 9   UnitPrice     20000 non-null  float64
 10  CustomerID    20000 non-null  int64
 11  Country       20000 non-null  object
 12  amount_spent  20000 non-null  float64
dtypes: float64(2), int64(7), object(4)
memory usage: 1.7+ MB

In [43]:
orders.head()

,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,546084,22741,2011,3,3,11,funky diva pen,48,2011-03-09 11:28:00,0.85,14112,United Kingdom,40.80
1,545906,22557,2011,3,2,9,plasters in tin vintage paisley,12,2011-03-08 09:23:00,1.65,15764,United Kingdom,19.80
2,539475,22176,2010,12,7,14,blue owl soft toy,1,2010-12-19 14:41:00,2.95,16686,United Kingdom,2.95
3,572562,21889,2011,10,2,9,wooden box of dominoes,12,2011-10-25 09:07:00,1.25,13481,United Kingdom,15.00
4,549372,72741,2011,4,5,11,grand chocolatecandle,9,2011-04-08 11:28:00,1.45,14958,United Kingdom,13.05

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

In [106]:
#just use a groupby with sum()
Client_total_spent = orders.groupby(by=['CustomerID','Country'],as_index = False).sum()
Client_total_spent.head()

,CustomerID,Country,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
0,12347,Iceland,3393172,12066,47,13,75,66,18.70,149.90
1,12348,Finland,1620634,6031,25,10,48,192,1.69,75.36
2,12349,Italy,2888045,10055,55,5,45,56,45.41,100.09
3,12350,Norway,543037,2011,2,3,16,12,0.85,10.20
4,12352,Norway,2284754,8044,40,13,56,14,54.83,126.48

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

In [103]:
#we just use quantile function to check the limits corresponding to prefered (75-95) and VIP (95-100)
orders.groupby(by='CustomerID').sum()['amount_spent'].quantile([0.75,0.95])

0.75    111.955
0.95    385.440
Name: amount_spent, dtype: float64

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [98]:
#now we store the quantiles in variables:
qt75 = orders.groupby(by='CustomerID').sum()['amount_spent'].quantile(0.75)
qt95 = orders.groupby(by='CustomerID').sum()['amount_spent'].quantile(0.95)

#we create a little function:
def cat_customer(x):
    if x > qt95:
        return 'VIP'
    elif x > qt75 and x <= qt95:
        return 'preferred'
    else:
        return 'ordinary'

In [109]:
#and classify costumers:
Client_total_spent['client_class'] = Client_total_spent['amount_spent'].apply(cat_customer)

Client_total_spent.loc[:,['client_class','amount_spent','Country']]

     client_class  amount_spent         Country
0       preferred        149.90         Iceland
1        ordinary         75.36         Finland
2        ordinary        100.09           Italy
3        ordinary         10.20          Norway
4       preferred        126.48          Norway
...           ...           ...             ...
3326     ordinary         25.20  United Kingdom
3327     ordinary         29.70  United Kingdom
3328     ordinary         23.60  United Kingdom
3329     ordinary         78.08  United Kingdom
3330    preferred        209.52  United Kingdom

[3331 rows x 3 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [132]:
#to solve this, we use getdummies with the client_class and country columns
countries = pd.get_dummies(Client_total_spent.loc[:,['client_class','Country']], columns=['client_class'],prefix='',prefix_sep='')

# and group by with sum(), and select the country with the most VIPs...
countries.groupby(by='Country').sum().VIP.sort_values(ascending=False).index[0]

'United Kingdom'

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [139]:
#we add another column
countries['VIPpreferred'] = countries.VIP + countries.preferred

# and do another groupby with sum and select the country with most VIP+Preferred Customers...
countries.groupby(by='Country').sum().VIP.sort_values(ascending=False).index[0]

'United Kingdom'