# Data Cleaning

In [1]:
import pandas as pd

# Read the users dataset.

Take a look at what is the `users.csv` separator.

In [2]:
users = pd.read_csv('../data/users.csv', sep='#')

## Check its shape

See the number of rows and columns you're dealing.

In [3]:
print(f'number of rows: {users.shape[0]},\nnumber of columns: {users.shape[1]}')

number of rows: 40503,
number of columns: 14

## Use the .head() to see some rows of your dataframe.

In [4]:
users.head(2)

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN

## Get the data info. 

Which columns have a great number of missing values? How many space does this dataframe is occupying in your memory?

In [5]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40503 entries, 0 to 40502
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               40503 non-null  int64
 1   Reputation       40503 non-null  int64
 2   CreationDate     40503 non-null  object
 3   DisplayName      40497 non-null  object
 4   LastAccessDate   40503 non-null  object
 5   WebsiteUrl       8158 non-null   object
 6   Location         11731 non-null  object
 7   AboutMe          9424 non-null   object
 8   Views            40503 non-null  int64
 9   UpVotes          40503 non-null  int64
 10  DownVotes        40503 non-null  int64
 11  AccountId        40503 non-null  int64
 12  Age              8352 non-null   float64
 13  ProfileImageUrl  16540 non-null  object
dtypes: float64(1), int64(6), object(7)
memory usage: 3.2+ MB

In [6]:
# checking how many missing values (NaN) has each column
users.isna().sum()

Id                     0
Reputation             0
CreationDate           0
DisplayName            6
LastAccessDate         0
WebsiteUrl         32345
Location           28772
AboutMe            31079
Views                  0
UpVotes                0
DownVotes              0
AccountId              0
Age                32151
ProfileImageUrl    23963
dtype: int64

## Rename Id column to user_id.

Remember to store you results back at the dataframe.

In [7]:
users = users.rename(columns={'Id':'user_id'})

# Import the `posts.csv` dataset.

Note that this is a `gzip compressed csv`. In order to read this file correctly, you'll have to read the documentation (or help) of your `pd.read_csv()` function and check the `compression` argument. Try to understand which value of `compression=...` you should put in order to read your dataframe.

In [8]:
posts = pd.read_csv('../data/posts.csv.gzip', sep=',',compression='gzip')

## Perform the same as above to understand a bit of your data (head, info, shape)

In [9]:
posts.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN

In [10]:
posts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91976 entries, 0 to 91975
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     91976 non-null  int64
 1   PostTypeId             91976 non-null  int64
 2   AcceptedAnswerId       14700 non-null  float64
 3   CreaionDate            91976 non-null  object
 4   Score                  91976 non-null  int64
 5   ViewCount              42921 non-null  float64
 6   Body                   91756 non-null  object
 7   OwnerUserId            90584 non-null  float64
 8   LasActivityDate        91976 non-null  object
 9   Title                  42921 non-null  object
 10  Tags                   42921 non-null  object
 11  AnswerCount            42921 non-null  float64
 12  CommentCount           91976 non-null  int64
 13  FavoriteCount          13246 non-null  float64
 14  LastEditorUserId       44611 non-null  float64
 15  LastEditDate           45038 non-null  object
 16  CommunityOwnedDate     2467 non-null   object
 17  ParentId               47755 non-null  float64
 18  ClosedDate             1610 non-null   object
 19  OwnerDisplayName       2509 non-null   object
 20  LastEditorDisplayName  465 non-null    object
dtypes: float64(7), int64(4), object(10)
memory usage: 11.2+ MB

In [11]:
posts.shape

(91976, 21)

## Rename Id column to post_id and OwnerUserId to user_id.

Again, remember to check that your results are correctly stored inside the dataframe.

In [12]:
posts = posts.rename(columns = {'Id':'post_id','OwnerUserId':'user_id'})

## Define new dataframes for users and posts with the following selected columns:

**users columns**: user_id, Reputation, Views, UpVotes, DownVotes  
**posts columns**: post_id, Score, user_id, ViewCount, CommentCount, Body

In [13]:
users_short = users.loc[:,['user_id', 'Reputation','Views','UpVotes','DownVotes']]
posts_short = posts.loc[:,['post_id','Score','user_id','ViewCount','CommentCount','Body']]

**Note:** Check the new posts dataframe's info. What is the most noticeable change? 

Explain why we have chosen only some columns of it in terms of efficiency.

*Note: Check the new posts dataframe's info. What is the most noticeable change?*
> Ans: We can notice that its more compact than before, of course, and clearer

*Explain why we have chosen only some columns of it in terms of efficiency.*
> ans: Many columns are related to dates. Date is important, but 84% of "creationDate', for example, is NaN. 
> In the End, what is important is the content (body) of the message and number of comments and views...

>Besides being not uselful, with exception to 'PostTypeId', 'AcceptedAnswerId' and 'LasActivityDate' columns, other columns have many NaN values, lowering even more it's importance to the analysis.

> 'Title':             (53% NaN)
> 'Tags':             (53% NaN)
> , 'AnswerCount':             (53% NaN)
> , 'CommentCount'
> , 'FavoriteCount'       (85% NaN)
> , 'LastEditorUserId'       (51% NaN)
> , 'LastEditDate'       (51% NaN)
> , 'CommunityOwnedDate'       (97% NaN)
> , 'ParentId'       (48% NaN)
> , 'ClosedDate'       (98% NaN)
> , 'OwnerDisplayName' :      (97% NaN)
> , 'LastEditorDisplayName:       (99% NaN)

In [14]:
users.isna().sum()/posts.shape[0]

user_id            0.000000
Reputation         0.000000
CreationDate       0.000000
DisplayName        0.000065
LastAccessDate     0.000000
WebsiteUrl         0.351668
Location           0.312821
AboutMe            0.337903
Views              0.000000
UpVotes            0.000000
DownVotes          0.000000
AccountId          0.000000
Age                0.349559
ProfileImageUrl    0.260535
dtype: float64

In [15]:
posts.isna().sum()/posts.shape[0]

post_id                  0.000000
PostTypeId               0.000000
AcceptedAnswerId         0.840176
CreaionDate              0.000000
Score                    0.000000
ViewCount                0.533346
Body                     0.002392
user_id                  0.015134
LasActivityDate          0.000000
Title                    0.533346
Tags                     0.533346
AnswerCount              0.533346
CommentCount             0.000000
FavoriteCount            0.855984
LastEditorUserId         0.514971
LastEditDate             0.510329
CommunityOwnedDate       0.973178
ParentId                 0.480788
ClosedDate               0.982495
OwnerDisplayName         0.972721
LastEditorDisplayName    0.994944
dtype: float64

# Merge the new dataframes you have created, of users and posts. Create a dataframe called `posts_from_users`

You will need to make an inner [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes. 

Think carefully which should be the key(s) for your merging.

In [16]:
users_short.head()

   user_id  Reputation  Views  UpVotes  DownVotes
0       -1           1      0     5007       1920
1        2         101     25        3          0
2        3         101     22       19          0
3        4         101     11        0          0
4        5        6792   1145      662          5

In [17]:
posts_short.head()

,post_id,Score,user_id,ViewCount,CommentCount,Body
0,1,23,8.0,1278.0,1,<p>How should I elicit prior distributions fro...
1,2,22,24.0,8198.0,1,<p>In many different statistical methods there...
2,3,54,18.0,3613.0,4,<p>What are some valuable Statistical Analysis...
3,4,13,23.0,5224.0,2,<p>I have two groups of data. Each with a dif...
4,5,81,23.0,NaN,3,"<p>The R-project</p>\n\n<p><a href=""http://www..."

In [18]:
users_short.shape

(40503, 5)

In [19]:
posts_short.shape

(91976, 6)

In [42]:
posts_from_users = pd.merge(users_short, posts_short, how='outer')
posts_from_users.head()

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount,Body
0,-1.0,1.0,0.0,5007.0,1920.0,2175.0,0.0,NaN,0.0,<p><strong>CrossValidated</strong> is for stat...
1,-1.0,1.0,0.0,5007.0,1920.0,8576.0,0.0,NaN,0.0,NaN
2,-1.0,1.0,0.0,5007.0,1920.0,8578.0,0.0,NaN,0.0,NaN
3,-1.0,1.0,0.0,5007.0,1920.0,8981.0,0.0,NaN,0.0,"<p>""Statistics"" can refer variously to the (wi..."
4,-1.0,1.0,0.0,5007.0,1920.0,8982.0,0.0,NaN,0.0,This generic tag is only rarely suitable; use ...

## Check the number of duplicated rows.

Remember you can sum the results of a mask to get how many numbers the True value appeared in the results. This occurs because `True` is interpreted as `1` in Python whereas `False` is interpreted as `0`.

In [43]:
print(f'We have {posts_from_users.duplicated().sum()} duplicates!')

We have 373 duplicates!

## Find those duplicate values and try to understand what happened.

*Hint:* You can use the argument `keep=False` from the `.duplicated()` method to bring the duplication.

*Hint 2:* You can sort the values `by=['user_id', 'post_id']` to see them in order.

In [44]:
mask = posts_from_users.duplicated(keep=False)
posts_from_users.loc[mask,:].sort_values(by=['user_id', 'post_id'])

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount,Body
1647,120.0,101.0,3.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
1648,120.0,101.0,3.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
4654,383.0,101.0,1.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN
4655,383.0,101.0,1.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN
5404,472.0,101.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
108925,55401.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
109138,55592.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
109139,55592.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
109221,55670.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
109222,55670.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

## Should you drop it? If you think it is reasonable to drop it, then drop it.

Think: How would you correct it in the first place? That is, what was wrong in the first place?

*Hint:* There's a pandas method to drop duplicates. If you wanted to do it by hand, you could select the indexes of the duplicated values and `.drop()` it.

In [45]:
#Analysing first...
mask1 = users_short.duplicated(keep=False)
mask2 = posts_short.duplicated(keep=False)

user_dup = users_short.loc[mask1,:].sort_values(by=['user_id']).shape[0]
post_dup = posts_short.loc[mask2,:].sort_values(by=['post_id']).shape[0]

print(f'number of duplicates of user_short dataframe: {user_dup}')
print(f'number of duplicates of post_short dataframe: {post_dup}')
print('''\nThe problem is that, there are users that post more than once, but since there's no post ID,
        there's no reason to keep these rows...''')

number of duplicates of user_short dataframe: 356
number of duplicates of post_short dataframe: 0

The problem is that, there are users that post more than once, but since there's no post ID,
        there's no reason to keep these rows...

In [46]:
#we wont use .drop(), we will use the method drop_duplicates()
posts_from_users = posts_from_users.drop_duplicates()

## 10. How many missing values do you have in your merged dataframe? On which columns?

In [47]:
# The number of missing values for each column is:
posts_from_users.isna().sum()

user_id          1392
Reputation       1392
Views            1392
UpVotes          1392
DownVotes        1392
post_id         18342
Score           18342
ViewCount       67397
CommentCount    18342
Body            18562
dtype: int64

## Select only the rows in which there at least some missing values.

In [48]:
#well... all columns from posts_from_users have missing values!
cols = posts_from_users.isna().columns

## You will need to make something with missing values.  Will you clean or fill them? 

Pay attention. There can be different reasons for the missings numbers. Look at the `user_id` of some of them, look at the body of the message. Which ones you're sure of what should be and which one can you infer? Don't hurry up, take a look at your data.

In [62]:
#readme:
print('''
        We will assume that the main objective is to analyse the users and not the message.
        If we were going to analyse the content of the messages (or the column body)
        we should keep all the rows with some message and upvotes and downvotes and ect.
        But, in the following excercices, we will only analyse user_id and its reputation,
        so we can drop any column where there the user is missing!!!!''')

        We will assume that the main objective is to analyse the users and not the message.
        If we were going to analyse the content of the messages (or the column body)
        we should keep all the rows with some message and upvotes and downvotes and ect.
        But, in the following excercices, we will only analyse user_id and its reputation,
        so we can drop any column where there the user is missing!!!!

In [64]:
#BUT WHAT ABOUT THE OTHER COLUMNS WITH MISSING VALUES?

#I think that, rows with no message (body column has missing values) should be droped, since there is no use
#to analyse views and likes if we can't know the message, isn't?

#we create a mask to show all missing values in user_id
mask = posts_from_users.user_id.isna()

#and now we check msgs where the user_id has missing values
display(posts_from_users.loc[mask].head(3))

print('its a lot of rows!')

#now we drop them! It's simple, we just get the index where body is NaN, and use the .drop() method!
to_drop = posts_from_users.loc[mask].user_id.index
posts_from_users = posts_from_users.drop(to_drop)

#and we check which rows still have missing values:
posts_from_users.isna().sum()

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount,Body
109299,NaN,NaN,NaN,NaN,NaN,17.0,9.0,1261.0,0.0,<p>I have four competing models which I use to...
109300,NaN,NaN,NaN,NaN,NaN,28.0,6.0,NaN,0.0,"<p><a href=""http://www.gnu.org/software/gsl/"" ..."
109301,NaN,NaN,NaN,NaN,NaN,56.0,56.0,NaN,7.0,<p>Here is how I would explain the basic diffe...

its a lot of rows!

user_id             0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
post_id         18342
Score           18342
ViewCount       66738
CommentCount    18342
Body            18562
dtype: int64

In [ ]:
#For now, we can keep the rest of the rows...

## Adjust the data types in order to avoid future issues. Which ones should be changed?

In [68]:
#ViewCount and CommentCount cannot have missing values, and will be changed to "zero"
posts_from_users.dtypes

user_id         float64
Reputation      float64
Views           float64
UpVotes         float64
DownVotes       float64
post_id         float64
Score           float64
ViewCount       float64
CommentCount    float64
Body             object
dtype: object

# Bonus 1: (filtering) What is the average number of comments for users who are above the average reputation?

*Hint:* Calculate the average of the user Reputation. Store it in a variable called `avg_reputation` and then use that variable for filtering the dataset and generating the results for each case (for the case in which `Reputation > {avg_reputation}` and etc.

*Hint 2:* You could create a variable based on that condition and use the group by function perform the task above.

In [74]:
print('''
        We will suppose that a user reputation only rises and never falls. We have to suppose this, because
        there are many user_id which have rows with distinct reputation for the same user_id.
''')

        We will suppose that a user reputation only rises and never falls. We have to suppose this, because
        there are many user_id which have rows with distinct reputation for the same user_id.

In [86]:
# Calculate the reputation for each user_id:
user_rep = posts_from_users.loc[:,['user_id','Reputation']].groupby(by='user_id').max()
#and now we calculate the calculate the average:
avg_reputation = user_rep.sum()[0]/user_rep.shape[0]
print(f'The average reputation is... {avg_reputation}')

The average reputation is... 84.07873527588345

In [94]:
# now we create a mask
mask = posts_from_users.loc[:,'Reputation'] > avg_reputation

#we apply the mask and groupby user_id, summing up every comment count.
comment_df = posts_from_users.loc[mask].loc[:,['user_id','CommentCount']].groupby(by='user_id').sum()
comment_df.mean()

CommentCount    9.581019
dtype: float64

# Bonus 2: (grouping) Group your dataframe by the Reputation of your user. Calculate the mean value of ViewCount and CommentCount for each reputation value.

Suppose the missing values on ViewCount are due a systemic error and you wanted to guess what values should have been there in the first place, but the system abended.

Would that be an interesting candidate for inputting the value for the missing `ViewCount` values? If so, input it with these values.

In [107]:
#an interesting approach would be changing the NaN with the mean ViewCount values.
posts_from_users.ViewCount.fillna(posts_from_users.ViewCount.mean(),inplace=True)

In [110]:
# We can do the same for "CommentCount"
posts_from_users.CommentCount.fillna(posts_from_users.CommentCount.mean(),inplace=True)

In [113]:
#and now groupby
posts_from_users.groupby(by='Reputation').mean().loc[:,['ViewCount','CommentCount']]

             ViewCount  CommentCount
Reputation
1.0         459.075391      1.778889
2.0         438.916667      2.333333
3.0         211.859332      1.696300
4.0         246.422252      2.341463
5.0         374.857842      2.079782
...                ...           ...
31170.0     587.432906      1.668122
37083.0     561.335799      1.866989
44152.0     554.808636      2.013767
65272.0     556.721130      2.287209
87393.0     558.765274      2.544020

[965 rows x 2 columns]

## refs

Sample database used: https://relational.fit.cvut.cz/dataset/Stats

Stack-overflow database: https://www.brentozar.com/archive/2015/10/how-to-download-the-stack-overflow-database-via-bittorrent/