# Project 5 - Linear Regression - Diamonds Dataset!

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

from sklearn.linear_model import LinearRegression

In [6]:
data = pd.read_csv('diamonds.csv')
rick_data = pd.read_csv('rick_diamonds.csv')

# Taking a look at the dataset

In [7]:
data.head()

   carat        cut color clarity  depth  table  price     x     y     z
0   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
1   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
2   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
3   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
4   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48

In [10]:
rick_data.head()

   carat        cut color clarity  depth  table     x     y     z
0   0.91  Very Good     H     SI2   63.4   57.0  6.10  6.18  3.89
1   0.38       Good     F     VS2   60.3   61.0  4.68  4.71  2.83
2   0.52      Ideal     H     VS2   61.8   56.0  5.19  5.16  3.20
3   1.10      Ideal     G     VS1   61.3   56.0  6.65  6.69  4.09
4   2.28      Ideal     G     SI2   61.6   57.0  8.44  8.37  5.18

# Estimating prices

## - First Try - Our first estimative would be getting the mean_price, and comparing it to the true prices to generate a score

In [71]:
mean_price = data.loc[:,'price'].mean()
y_pred1 = mean_price

## Second Try - use all info, no cleaning:
"There are many factors affecting the price of diamonds. Colour, Clarity, Carat (size), Cut, Shape and Fluorescence are the major determinants of the price of diamonds. Difference in single grade or level will make the price change from 5% to 30%."

In [166]:
X = data.iloc[:,[0,1,2,3,4,5,7,8,9]]
y = data.iloc[:,6]

model = LinearRegression()

In [167]:
X = pd.get_dummies(X, drop_first=True)
model.fit(X,y)
y_pred2 = model.predict(X)

3 - depth is a value that is a function of x, y and z. Maybe remove it?

In [132]:
#load basics
X = data.iloc[:,[0,1,2,3,4,5,7,8,9]]
y = data.iloc[:,6]

model = LinearRegression()

In [133]:
X = X.drop('depth',axis=1)

In [134]:
X = X.drop('table',axis=1)
X = pd.get_dummies(X, drop_first=True)
model.fit(X,y)
y_pred3 = model.predict(X)

4 - "Table" wtf is that?

In [135]:
#load basics
X = data.iloc[:,[0,1,2,3,4,5,7,8,9]]
y = data.iloc[:,6]

model = LinearRegression()

In [136]:
X = X.drop('table',axis=1)
X = pd.get_dummies(X, drop_first=True)
model.fit(X,y)
y_pred4 = model.predict(X)

# Test zone

In [147]:
#load basics
X = data.iloc[:,[0,1,2,3,4,5,7,8,9]]
y = data.iloc[:,6]

model = LinearRegression()
X = X.drop(['table','depth'],axis=1)

In [149]:
X = pd.get_dummies(X, drop_first=True)
model.fit(X,y)
y_pred = model.predict(X)
get_scores(data,y_pred,rmse2)

RMSE: 1127.605
R2 score: 0.9201
change in RMSE: 0.21

it worsened!!

(1127.6052385554228, 0.9201045076556674)

# Check score

Here we will check the score generated for each step. We will define a function to help simplify the process

In [128]:
def get_scores(data, y_pred,rmse_to_compare=0):
    """This functions receives the y_pred for the prices of the diamond dataframe and prints the scores.
    It also prints comparations. If rmse_to_compare is 0, no comparation will be made.
    """
    
    data['predicted'] = y_pred
    mse = mean_squared_error(data.price, data.predicted)
    rmse = np.sqrt(mse)
    r2 = r2_score(y_true=data.price, y_pred=data.predicted)
    print(f'RMSE: {round(rmse,3)}')
    print(f'R2 score: {round(r2,5)}')
    
    if rmse_to_compare != 0:
        comparation = round((rmse-rmse_to_compare)/rmse_to_compare*100,2)
        print(f'change in RMSE: {comparation}')
        
        if comparation < 0:
            print('\ngreat success!!')
            
        else:
            print('\nit worsened!!')
    
    return rmse,r2

## Scores for 1nd try

In [129]:
rmse1,rsqr1 = get_scores(data,y_pred1)

RMSE: 3989.293
R2 score: 0.0

## Scores for 2nd try

In [170]:
rmse2,rsqr2 = get_scores(data,y_pred2,rmse1)

RMSE: 1125.276
R2 score: 0.92043
change in RMSE: -71.79

great success!!

## Scores for removing "depth"

In [137]:
rmse3,rsqr3 = get_scores(data,y_pred3,rmse2)

RMSE: 1127.605
R2 score: 0.9201
change in RMSE: 0.21

it worsened!!

## Scores for removing "table"

In [139]:
rmse4,rsqr4 = get_scores(data,y_pred4,rmse2)

RMSE: 1126.089
R2 score: 0.92032
change in RMSE: 0.07

it worsened!!

# We now predict the values of the the rick_diamonds dataset

In [28]:
rick_data['price_predicted'] = round(mean_price,2)

In [172]:
X_test = pd.get_dummies(rick_data,drop_first=True)

In [ ]:
#updating with what we have got
y_pred = model.predict()

In [29]:
rick_data.head()

,carat,cut,color,clarity,depth,table,x,y,z,price_predicted
0,0.91,Very Good,H,SI2,63.4,57.0,6.10,6.18,3.89,3934.41
1,0.38,Good,F,VS2,60.3,61.0,4.68,4.71,2.83,3934.41
2,0.52,Ideal,H,VS2,61.8,56.0,5.19,5.16,3.20,3934.41
3,1.10,Ideal,G,VS1,61.3,56.0,6.65,6.69,4.09,3934.41
4,2.28,Ideal,G,SI2,61.6,57.0,8.44,8.37,5.18,3934.41

# Export Data

In [30]:
rick_data.to_csv('rick_price_pred.csv',index=False)