# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [8]:
import numpy as np
import pandas as pd

# Challenge - Inside a function
You are already familiar with several built in functions on python as well as libraries. Let's try to figure out how they are made in pure python.

Create a function that returns the count of a list of numbers

In [9]:
#### The fun here will be trying not to use the fundamental functions like len(), sum(), etc...
def like_len(lista):
    '''Essa função retorna o número de elementos numa função'''
    
    soma = 0
    for i in lista:
        soma += 1
    
    return soma

Create a function that returns the mean of a list of numbers

In [10]:
# Your code here:
def not_numpy_but_calc_mean(lista):
    '''Essa função retorna a média dos elementos de uma lista'''
    
    soma = 0
    for number in lista:
        soma += number
    
    return soma/like_len(lista)

Create a function that returns the standard deviation of a list of numbers using the previous functions you created.

In [11]:
# Your code here:
def fake_numpy_dot_std(lista):
    '''Essa função retorna o desvio padrão dos valores dos elementos de uma lista'''
    
    #primeiro calculamos a média
    media = not_numpy_but_calc_mean(lista)
    
    #depois calculamos o número de elementos
    numero_de_elementos = like_len(lista)
    
    #depois calculamos a lista de variâncias
    lista_desvios_quadrados = [(valor-media)**2 for valor in lista]
    
    #por fim calculamos o desvio padrão: que é a raiz da média dos desvios quadrados
    devio_padrao = (not_numpy_but_calc_mean(lista_desvios_quadrados))**(1/2)
    
    return devio_padrao

------------------------------------------

In [13]:
#vamos testar 
import numpy as np

lista_teste = [10,13,45,49,55,12,10,11,13,19]

In [14]:
len(lista_teste) == like_len(lista_teste)

True

In [15]:
np.mean(lista_teste) == not_numpy_but_calc_mean(lista_teste)

True

In [16]:
np.std(lista_teste) == fake_numpy_dot_std(lista_teste)

True

In [ ]:
#### UHUULLL, TUDO TRUE!!!

------------------------------------------

Create a function that returns the count, mean and standard deviation of a given list. Document this function using triple quotes, your documentation should have description, parameters, returns and examples.

In [17]:
# Your code here:
def parametros_estatisticos(lista):
    '''Essa função retorna: a quantidade de elementos, além da média e do desvio padrão destes.'''
    
    count = like_len(lista)
    mean = not_numpy_but_calc_mean(lista)
    std = fake_numpy_dot_std(lista)
    
    return count, mean, std

(10, 23.7, 17.31502237942533)

In [20]:
# Verificando se tudo funciona:

print(f'Parâmetros pela função criada: {parametros_estatisticos(lista_teste)}')

print(f'Parâmetros usando as clássicas funções \n  len(): {len(lista_teste)} \n  np.mean(): {np.mean(lista_teste)} \n  np.std(): {np.std(lista_teste)}')

Parâmetros pela função criada: (10, 23.7, 17.31502237942533)
Parâmetros usando as clássicas funções
  len(): 10
  np.mean(): 23.7
  np.std(): 17.31502237942533

# Challenge  - String Cleaning
When working with textual data you will often have to clean it before being able to analyze it. Create a function that receives a string and returns that string in all lower case, without special characters and in alphabetical order.

In [41]:
# Your code here:
def clean_string(string, blacklist="!@#$1234567890"):
    '''receives a string and returns that string in all lower case,
        without special characters and in alphabetical order.
        It accepts 2 variables: string is the string to be clean,
        and blacklist is a string containing characters to be removed,
        being "!@#$1234567890" as default.'''

    #we first lower all words:
    string.lower()
    
    #remove special characters:
    for char in blacklist:
        string = string.replace(char, '')
    
    #Now sort it. To do this, we need for loop with what is left with the input string.
    
    #we create a list of letters
    letters = []
    for letter in string:
        letters.append(letter)
    
    #sort it and merge it, return it:
    return ''.join(sorted(letters))

# Challenge  - Classification
Sometimes datasets provide very good and precise information but not in the way we need to use it. In this challenge, make a function that takes a numeric value (age or income for example) and turns it into a category (could be from Very Low to Very High or rated from 0 to 10).

In [92]:
# Your code here:
def person_generation(age:int, current_year:int = 2020):
    '''This function takes the age of someone and informs in which generation this person was born.
    
    Takes two arguments: age of a person and the current_year, with 2020 by default
    
    Categories are based on the named generations of the western world, according to wikipedia. They are:
    The Lost Generation: people born from 1883 to 1900.
    The Silent Generation: people born from 1901 to 1927
    The Greatest Generation: people born from 1928 to 1945
    Baby boomers: people born from 1946 to 1964
    Generation X: people born from 1965 to 1980
    Millennials: people born from 1981 to 1996
    Generation Z: people born from 1996 to 2012
    Generation Alpha: people born from 2012 to today'''
    
    # function also needs to take age and year as integers:
    if type(age) != int or type(current_year) != int:
         raise TypeError('Age and/or current year must be a integers!')
    
    # Age cannot be also a negative number!!!
    if age < 0:
         raise ValueError('Age cannot be a negative number!')
    
    birth_year = current_year - age
    
    # now we need an for loop to construct categories:
    gen_dicts = {}
    
    # we use multiple for loops to categorize. In this dictionary, keys are the years, and values are the generations.

    for year in range(1883,1901):
        gen_dicts.update({year:'The Lost Generation'})
    for year in range(1901,1928):
        gen_dicts.update({year:'The Silent Generation'})
    for year in range(1928,1946):
        gen_dicts.update({year:'The Greatest Generation'})
    for year in range(1946,1965):
        gen_dicts.update({year:'The Baby boomers'})
    for year in range(1965,1981):
        gen_dicts.update({year:'The Generation X'})
    for year in range(1981,1997):
        gen_dicts.update({year:'The Millennials'})
    for year in range(1997,2013):
        gen_dicts.update({year:'The Generation Z'})
    for year in range(2013,current_year+1):
        gen_dicts.update({year:'The Generation Alpha'}) 
    # I am pretty sure we can reduce de amount of code, but I will think later something about it.
    
    
    # now we check to which generation the person belongs.
    person_generation = gen_dicts[birth_year]

    return person_generation

Victor: I did a shorter version of this code below!!!

In [110]:
# If you wanna see a shorter version of the code, check below:
def person_generation(age:int, current_year:int = 2020):
    '''This function takes the age of someone and informs in which generation this person was born.
    
    Takes two arguments: age of a person and the current_year, with 2020 by default
    
    Categories are based on the named generations of the western world, according to wikipedia. They are:
    The Lost Generation: people born from 1883 to 1900.
    The Silent Generation: people born from 1901 to 1927
    The Greatest Generation: people born from 1928 to 1945
    Baby boomers: people born from 1946 to 1964
    Generation X: people born from 1965 to 1980
    Millennials: people born from 1981 to 1996
    Generation Z: people born from 1996 to 2012
    Generation Alpha: people born from 2012 to today'''
    
    # function also needs to take age and year as integers:
    if type(age) != int or type(current_year) != int:
         raise TypeError('Age and/or current year must be a integers!')
    
    # Age cannot be also a negative number!!!
    if age < 0:
         raise ValueError('Age cannot be a negative number!')
    
    birth_year = current_year - age
    
    # now we need an for loop to construct categories:
    gen_dicts = {}
    
    # we use multiple for loops to categorize. In this dictionary, keys are the years, and values are the generations.
    
    # first we create two lists, with the year spams and the generations.
    list_of_years = [1883,1900,1927,1945,1964,1980,1996,2012,current_year]
    list_of_generations = ['The Lost Generation','The Silent Generation',
                          'The Greatest Generation','The Baby boomers',
                          'The Generation X','The Millennials',
                          'The Generation Z','The Generation Alpha']
    
    # we iterate over the list_of_generations:
    for index in range(len(list_of_generations)):

        # we select the years from the list_of_years. I.e. the first two would be 1883 and 1900
        start_year = list_of_years[index]
        end_year = list_of_years[index+1]
        
        # now we create keys for every year and generation. I.e. the first one would be '1883':'The Lost Generation'
        for year in range(start_year,end_year+1):
            generation = list_of_generations[index]
            gen_dicts.update({year:generation})
    
    # now we check to which generation the person belongs.
    person_generation = gen_dicts[birth_year]
    return person_generation

In [112]:
# Testandoooo:
person_generation(32)

'The Millennials'

In [113]:
# Testandoooo:
person_generation(58)

'The Baby boomers'

In [114]:
# Testandoooo:
person_generation(12)

'The Generation Z'

# Challenge  - Recursion 
In some cases it is interesting to build a function that calls itself. Use a recursive function that asks for an input from the users age and keeps asking for it until the input is a number between 0 and 150.

In [1]:
# Your code here:
def your_age():
    ''' This function asks for the user age
    
    It keeps asking it until the input is a number between 0 and 150'''
    
    #infinite loop, it will be broken when a valid age is inserted
    while True:
        age = input('Please, insert your age: ')
        age = int(age)
    
        if age >= 0 and age <= 150:
            break
    
    if age > 120:
        return print(f'User is: {age} years old... is he a ghost!?')
    else:
        return print(f'User is: {age} years old')

In [4]:
#testing:
your_age()

Please, insert your age: 155
Please, insert your age: 32
User is: 32 years old

# Challenge - Global and local variables

Make a function that returns the buzz string in alphabetical order

In [9]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"

def sorter_cutter(string):
    '''This function returns a string in groups of words separated by alphabetical order.
    
    It operates by separating the string by commans, and sorting everything'''
    
    #we start by spliting all
    string = string.split(',')
    string.sort()
    return string

In [10]:
#testing
sorter_cutter(buzz)

[' AI', ' Data Warehouse', ' Machine Learning', ' Pipeline', 'Big Data']

Make a function without return that modifies the buzz string and puts it in alphabetical order

In [21]:
buzz = "Big Data, Machine Learning, AI, Data Warehouse, Pipeline"

def sorter_cutter(string,in_words = False):
    '''This function returns a string in groups of words separated by alphabetical order.
    
    by default, it operates by separating the string by commans, and sorting everything
    if in_words = True, it will separate all groups into words.'''
    
    #The default mode:
    if in_words == False:    
        #we start by spliting all
        string = string.split(',')
        string.sort()
        return string
    
    #the in_words mode true: separating by spaces and commas
    if in_words == True:
    
        #we start by replacing commas for spacebars
        string = string.replace(',','')
        
        #now we split and sort
        string = string.split(' ')
        string.sort()
        return string

In [22]:
#testing
sorter_cutter(buzz,in_words = True)

['AI', 'Big', 'Data', 'Data', 'Learning', 'Machine', 'Pipeline', 'Warehouse']

# Bonus Challenge  - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

In [114]:
import pandas as pd

In [115]:
iris_numeric = pd.DataFrame(data =[[5.1,3.5,1.4,0.2], [4.9,3,1.4,0.2],[4.7,3.2,1.3,0.2],[4.6,3.1,1.5,0.2],[5,3.6,1.4,0.2],[5.4,3.9,1.7,0.4],[4.6,3.4,1.4,0.3],[5,3.4,1.5,0.2],[4.4,2.9,1.4,0.2],[4.9,3.1,1.5,0.1]],columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width'])

Let's look at the dataset using the `head` function.

In [116]:
# Your code here:
iris_numeric.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Let's start off by using built-in functions. Try to use the numpy mean function and describe what happens in the comments of the code.

In [117]:
import numpy as np
np.mean(iris_numeric)

# Descripition: np.mean() returns a pandas Series containing the mean 
# of the elemets of each column, indexed by the name of the column

sepal_length    4.86
sepal_width     3.31
petal_length    1.45
petal_width     0.22
dtype: float64

Next, we'll use the standard deviation function in numpy (np.std). Describe what happened in the comments.

In [118]:
np.std(iris_numeric)

# Descripition: np.std() returns a pandas Series containing the standard deviation 
# of the elemets of each column, indexed by the name of the column

sepal_length    0.276405
sepal_width     0.291376
petal_length    0.102470
petal_width     0.074833
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. We will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [119]:
def cm_to_in(x):
    '''This function takes in a numeric value in centimeters and converts it to inches'''
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    inch = round(x * 0.393701,2)
    
    return inch

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [120]:
# Your code here:
iris_inch = cm_to_in(iris_numeric)
iris_inch

   sepal_length  sepal_width  petal_length  petal_width
0          2.01         1.38          0.55         0.08
1          1.93         1.18          0.55         0.08
2          1.85         1.26          0.51         0.08
3          1.81         1.22          0.59         0.08
4          1.97         1.42          0.55         0.08
5          2.13         1.54          0.67         0.16
6          1.81         1.34          0.55         0.12
7          1.97         1.34          0.59         0.08
8          1.73         1.14          0.55         0.08
9          1.93         1.22          0.59         0.04

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [121]:
# Define constant below:
error = 2

def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    return x + error

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [134]:
# Your code here:
#first, we correct our dataframe:

iris_numeric_c = add_constant(iris_numeric)

def max_of_rows(dataframe):
    '''This function computes the maximum value for each row of 
    it adds a new column called max_value'''
    
    # we first create a new column of zeros
    dataframe['max_value'] = 0
    
    #iterate over the index of DataFrame
    for index in iris_numeric.index:
        
        max_value_in_row = max(dataframe.iloc[index])
        
        #store max value in df
        dataframe['max_value'][index] = max_value_in_row
    
    return dataframe

In [135]:
max_of_rows(iris_numeric_c)

<ipython-input-134-cf008e294696>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['max_value'][index] = max_value_in_row

   sepal_length  sepal_width  petal_length  petal_width  max_value
0           7.1          5.5           3.4          2.2          7
1           6.9          5.0           3.4          2.2          6
2           6.7          5.2           3.3          2.2          6
3           6.6          5.1           3.5          2.2          6
4           7.0          5.6           3.4          2.2          7
5           7.4          5.9           3.7          2.4          7
6           6.6          5.4           3.4          2.3          6
7           7.0          5.4           3.5          2.2          7
8           6.4          4.9           3.4          2.2          6
9           6.9          5.1           3.5          2.1          6

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [136]:
# Your code here:

def total_lenth_width(dataframe):
    '''This function computes the total values of lentgh and widths of each of row.
    It also adds new columns called max_width and max_length'''

    # we first create a new column
    dataframe['total_width'] = 0
    dataframe['total_length'] = 0

    for index in iris_numeric.index:
        width_sum = dataframe.sepal_width[index] + dataframe.petal_width[index]
        len_sum = dataframe.sepal_length[index] + dataframe.petal_length[index]

        #store max value in df
        dataframe['total_width'][index] = width_sum
        dataframe['total_length'][index] = len_sum

    return dataframe

In [137]:
 total_lenth_width(iris_numeric_c)

<ipython-input-136-929c535d0c5f>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['total_width'][index] = width_sum
<ipython-input-136-929c535d0c5f>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['total_length'][index] = len_sum

,sepal_length,sepal_width,petal_length,petal_width,max_value,total_width,total_length
0,7.1,5.5,3.4,2.2,7,7,10
1,6.9,5.0,3.4,2.2,6,7,10
2,6.7,5.2,3.3,2.2,6,7,10
3,6.6,5.1,3.5,2.2,6,7,10
4,7.0,5.6,3.4,2.2,7,7,10
5,7.4,5.9,3.7,2.4,7,8,11
6,6.6,5.4,3.4,2.3,6,7,10
7,7.0,5.4,3.5,2.2,7,7,10
8,6.4,4.9,3.4,2.2,6,7,9
9,6.9,5.1,3.5,2.1,6,7,10