# Intrduction to NumPy


#### 1. Import NumPy under the name np.

In [0]:
import numpy as npy

#### 2. Print your NumPy version.

In [68]:
np.__version__

'1.18.1'

#### 3. Generate a 2x3x5 3-dimensional array with random values. Assign the array to variable *a*.
**Challenge**: there are at least three easy ways that use numpy to generate random arrays. How many ways can you find?

In [69]:
a = np.random.random(size=(2, 3, 5))

In [70]:
# Method 2

In [71]:
# Method 3

#### 4. Print *a*.

In [72]:
print(a)

[[[0.09961814 0.56224697 0.40525414 0.84241148 0.30948642]
  [0.60919853 0.09133272 0.95100971 0.96440344 0.20116975]
  [0.43122189 0.4276719  0.05379213 0.43623409 0.71444601]]

 [[0.40201882 0.1036128  0.52184083 0.97449287 0.40302804]
  [0.95032426 0.15028568 0.76322897 0.96606339 0.91659584]
  [0.67089143 0.54479398 0.16134371 0.2423296  0.51574928]]]

#### 5. Create a 5x2x3 3-dimensional array with all values equaling 1. Assign the array to variable *b*.

In [167]:
b = np.ones((5, 2, 3))

#### 6. Print *b*.

In [168]:
print(b)

[[[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]

 [[1. 1. 1.]
  [1. 1. 1.]]]

#### 7. Do *a* and *b* have the same size? How do you prove that in Python code?

In [169]:
#yes, they have!
a.size == b.size

True

#### 8. Are you able to add *a* and *b*? Why or why not?

In [170]:
a + b

#It is not possible because they have diferent shapes 2x3x5 vs. 5x2x3.

ValueError: operands could not be broadcast together with shapes (2,3,5) (5,2,3)

#### 9. Reshape *b* so that it has the same structure of *a* (i.e. become a 2x3x5 array). Assign the reshaped array to variable *c*.

In [171]:
# your code here
c = np.reshape(b,(2, 3, 5))
c

array([[[1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.]],

       [[1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.]]])

#### 10. Try to add *a* and *c*. Now it should work. Assign the sum to variable *d*. But why does it work now?

In [172]:
d = a + c

#now it works because arrays have same dimensions size

#### 11. Print *a* and *d*. Notice the difference and relation of the two array in terms of the values? Explain.

In [173]:
print(d)
#the a+c sums each element of one array to the element of the other array that occupies the same possition.

[[[1.09961814 1.56224697 1.40525414 1.84241148 1.30948642]
  [1.60919853 1.09133272 1.95100971 1.96440344 1.20116975]
  [1.43122189 1.4276719  1.05379213 1.43623409 1.71444601]]

 [[1.40201882 1.1036128  1.52184083 1.97449287 1.40302804]
  [1.95032426 1.15028568 1.76322897 1.96606339 1.91659584]
  [1.67089143 1.54479398 1.16134371 1.2423296  1.51574928]]]

#### 12. Multiply *a* and *c*. Assign the result to *e*.

In [174]:
e = a * c

#### 13. Does *e* equal to *a*? Why or why not?

In [175]:
e is a
#e is equal to a because all elements of the array "a" where multiplied by the elements of the other array, with the same
# array position. Therefore, every element of "a" was multiplied by 1

False

#### 14. Identify the max, min, and mean values in *d*. Assign those values to variables *d_max*, *d_min* and *d_mean*.

In [176]:
d_max = d.max()
d_min = d.min()
d_mean = d.mean()

print(d_max, d_min, d_mean)

1.9744928746981063 1.0537921269615058 1.5128698938087697

#### 15. Now we want to label the values in *d*. First create an empty array *f* with the same shape (i.e. 2x3x5) as *d* using `np.empty`.

In [177]:
f = np.empty((2,3,5))
f

array([[[0.90973235, 0.54914832, 0.24020304, 0.18804966, 0.37538967],
        [0.52200579, 0.69020696, 0.4286737 , 0.3654516 , 0.85790704],
        [0.07621885, 0.92880349, 0.78548211, 0.79711342, 0.70325289]],

       [[0.64730504, 0.78174146, 0.1969976 , 0.1615759 , 0.19751747],
        [0.268219  , 0.89029432, 0.99201444, 0.2330468 , 0.11340847],
        [0.85512627, 0.37866484, 0.58952693, 0.74350489, 0.26257066]]])

#### 16. Populate the values in *f*. 

For each value in *d*, if it's larger than *d_min* but smaller than *d_mean*, assign 25 to the corresponding value in *f*. If a value in *d* is larger than *d_mean* but smaller than *d_max*, assign 75 to the corresponding value in *f*. If a value equals to *d_mean*, assign 50 to the corresponding value in *f*. Assign 0 to the corresponding value(s) in *f* for *d_min* in *d*. Assign 100 to the corresponding value(s) in *f* for *d_max* in *d*. In the end, f should have only the following values: 0, 25, 50, 75, and 100.

**Note**: you don't have to use Numpy in this question.

In [181]:
matrix = d.copy()

#in order to have only 0, 25, 50, 75 and 100 as the only possible values of the 3D array:
for i in range(len(matrix)):
    for j in range(len(matrix[i])):
        for k in range(len(matrix[i,j])):
            
            if matrix[i,j,k] > d_min and matrix[i,j,k] < d_mean:
                f[i,j,k] = 25
            elif matrix[i,j,k] > d_mean and matrix[i,j,k] < d_max:
                f[i,j,k] = 75
            elif matrix[i,j,k] == d_mean:
                f[i,j,k] = 50
            elif matrix[i,j,k] == d_min:
                f[i,j,k] = 0
            elif matrix[i,j,k] == d_max:
                f[i,j,k] = 100

#### 17. Print *d* and *f*. Do you have your expected *f*?
For instance, if your *d* is:
```python
[[[1.85836099, 1.67064465, 1.62576044, 1.40243961, 1.88454931],
[1.75354326, 1.69403643, 1.36729252, 1.61415071, 1.12104981],
[1.72201435, 1.1862918 , 1.87078449, 1.7726778 , 1.88180042]],
[[1.44747908, 1.31673383, 1.02000951, 1.52218947, 1.97066381],
[1.79129243, 1.74983003, 1.96028037, 1.85166831, 1.65450881],
[1.18068344, 1.9587381 , 1.00656599, 1.93402165, 1.73514584]]]
```
Your *f* should be:
```python
[[[ 75.,  75.,  75.,  25.,  75.],
[ 75.,  75.,  25.,  25.,  25.],
[ 75.,  25.,  75.,  75.,  75.]],
[[ 25.,  25.,  25.,  25., 100.],
[ 75.,  75.,  75.,  75.,  75.],
[ 25.,  75.,   0.,  75.,  75.]]]
```

In [186]:
print(f'the d is: \n{d}')
print(f'\n the f is: \n{f}')

the d is:
[[[1.09961814 1.56224697 1.40525414 1.84241148 1.30948642]
  [1.60919853 1.09133272 1.95100971 1.96440344 1.20116975]
  [1.43122189 1.4276719  1.05379213 1.43623409 1.71444601]]

 [[1.40201882 1.1036128  1.52184083 1.97449287 1.40302804]
  [1.95032426 1.15028568 1.76322897 1.96606339 1.91659584]
  [1.67089143 1.54479398 1.16134371 1.2423296  1.51574928]]]

 the f is:
[[[ 25.  75.  25.  75.  25.]
  [ 75.  25.  75.  75.  25.]
  [ 25.  25.   0.  25.  75.]]

 [[ 25.  25.  75. 100.  25.]
  [ 75.  25.  75.  75.  75.]
  [ 75.  75.  25.  25.  75.]]]

#### 18. Bonus question: instead of using numbers (i.e. 0, 25, 50, 75, and 100), use string values  ("A", "B", "C", "D", and "E") to label the array elements. For the example above, the expected result is:

```python
[[[ 'D',  'D',  'D',  'B',  'D'],
[ 'D',  'D',  'B',  'B',  'B'],
[ 'D',  'B',  'D',  'D',  'D']],
[[ 'B',  'B',  'B',  'B',  'E'],
[ 'D',  'D',  'D',  'D',  'D'],
[ 'B',  'D',   'A',  'D', 'D']]]
```
**Note**: you don't have to use Numpy in this question.

In [193]:
matrix = d.copy()
f = [[[],[],[]],[[],[],[]]]

#in order to have only 0, 25, 50, 75 and 100 as the only possible values of the 3D array:
for i in range(len(matrix)):
    for j in range(len(matrix[i])):
        for k in range(len(matrix[i,j])):
            
            if matrix[i,j,k] > d_min and matrix[i,j,k] < d_mean:
                f[i][j].append('B')
            elif matrix[i,j,k] > d_mean and matrix[i,j,k] < d_max:
                f[i][j].append('D')
            elif matrix[i,j,k] == d_mean:
                f[i][j].append('C')
            elif matrix[i,j,k] == d_min:
                f[i][j].append('A')
            elif matrix[i,j,k] == d_max:
                f[i][j].append('E')
                
f = np.array(f)

In [194]:
print(f'the d is: \n{d}')
print(f'\n the f is: \n{f}')

the d is:
[[[1.09961814 1.56224697 1.40525414 1.84241148 1.30948642]
  [1.60919853 1.09133272 1.95100971 1.96440344 1.20116975]
  [1.43122189 1.4276719  1.05379213 1.43623409 1.71444601]]

 [[1.40201882 1.1036128  1.52184083 1.97449287 1.40302804]
  [1.95032426 1.15028568 1.76322897 1.96606339 1.91659584]
  [1.67089143 1.54479398 1.16134371 1.2423296  1.51574928]]]

 the f is:
[[['B' 'D' 'B' 'D' 'B']
  ['D' 'B' 'D' 'D' 'B']
  ['B' 'B' 'A' 'B' 'D']]

 [['B' 'B' 'D' 'E' 'B']
  ['D' 'B' 'D' 'D' 'D']
  ['D' 'D' 'B' 'B' 'D']]]