# 1. String Operations

## String concatenation

In [2]:
type('Hello')

str

In [3]:
'Hello'+'World'

'HelloWorld'

In [16]:
x = 'Hello'
x = x + 'World'
x

'HelloWorld'

In [17]:
x = 'Hello'
x += 'World'
x

'HelloWorld'

In [19]:
print('''
assim voce consegue
escrever strings gigantes
e separar eles por espaço''')

assim voce consegue
escrever strings gigantes
e separar eles por espaço

In [20]:
'andre\n'*10

'andre\nandre\nandre\nandre\nandre\nandre\nandre\nandre\nandre\nandre\n'

In [21]:
print('andre\n'*10)

andre
andre
andre
andre
andre
andre
andre
andre
andre
andre

-------

In [25]:
meu_nome = ['Andre','Ribeiro','de','Barros','Aguiar']

In [26]:
espaco = ' '

In [27]:
# espaco.join(recebe_um_iteravel)
espaco.join(meu_nome)

'Andre Ribeiro de Barros Aguiar'

mas normalmente se faz assim:

In [29]:
' '.join(meu_nome)

'Andre Ribeiro de Barros Aguiar'

In [30]:
'***'.join(meu_nome)

'Andre***Ribeiro***de***Barros***Aguiar'

In [32]:
'-'.join(['happy','puppies'])

'happy-puppies'

### Exemplo prático

No SQL, juntando várias tabelas:

In [46]:
tables = ['Table_A','Table_B','Table_C','Table_D','Table_E','Table_F','Table_G']

In [47]:
for each_table in tables:
    print(f'''SELECT * FROM {each_table}\nUNION''')

SELECT * FROM Table_A
UNION
SELECT * FROM Table_B
UNION
SELECT * FROM Table_C
UNION
SELECT * FROM Table_D
UNION
SELECT * FROM Table_E
UNION
SELECT * FROM Table_F
UNION
SELECT * FROM Table_G
UNION

O ruim eh que fica um UNION sobrando no fim...

mas temos uma saida

In [48]:
queries = []
for table in tables:
    queries.append(f'SELECT * FROM {table}')

print(queries)

['SELECT * FROM Table_A', 'SELECT * FROM Table_B', 'SELECT * FROM Table_C', 'SELECT * FROM Table_D', 'SELECT * FROM Table_E', 'SELECT * FROM Table_F', 'SELECT * FROM Table_G']

Dai, só fazer...

In [49]:
QUERY = '\nUNION\n'.join(queries)
print(QUERY)

SELECT * FROM Table_A
UNION
SELECT * FROM Table_B
UNION
SELECT * FROM Table_C
UNION
SELECT * FROM Table_D
UNION
SELECT * FROM Table_E
UNION
SELECT * FROM Table_F
UNION
SELECT * FROM Table_G

### Quebrando strings
Contrario do join

In [50]:
a ='They ate the - mystery meat. It tasted like       chicken.'

In [52]:
# valor default é espaço, e jogar fora espaços repetidos...
a.split()

['They',
 'ate',
 'the',
 '-',
 'mystery',
 'meat.',
 'It',
 'tasted',
 'like',
 'chicken.']

In [58]:
# quebrando por ponto
a.split('.')

['They ate the - mystery meat', ' It tasted like       chicken', '']

Observe que ele considerou o ultimo ponto... e potou um string espaço depois...

### Startswith vs Endswith

In [61]:
b = 'There is no business like show business.'

In [62]:
# endswith() = Return True if S ends with the specified suffix, False otherwise.
b.endswith('.')

True

In [63]:
b.endswith('g')

False

In [64]:
b.endswith('ess.')

True

In [65]:
# contrario é startswith()
b.startswith('t')

False

#### Exemplos práticos

In [67]:
variables = ['qtd_casa','qtd_boleto','qtd_titulos','vlr_boleto','vlr_titulos','vlr_cartão']

In [68]:
for var in variables:
        if var.startswith('vlr'):
            print(var)

vlr_boleto
vlr_titulos
vlr_cartão

# Is it in a string?

In [69]:
b

'There is no business like show business.'

In [70]:
'business' in b

True

In [71]:
'agua' in b

False

In [72]:
for var in variables:
    if 'vlr_' in var:
        print(var)

vlr_boleto
vlr_titulos
vlr_cartão

### String Methods

In [73]:
c = 'shE HaD a maRveLoUs aSsoRtmeNt of PUPPETS.'

In [75]:
# Return a copy of the string converted to lowercase.
c.lower()

'she had a marvelous assortment of puppets.'

In [76]:
c.upper()
#note que c não é modificado

'SHE HAD A MARVELOUS ASSORTMENT OF PUPPETS.'

In [79]:
c

'shE HaD a maRveLoUs aSsoRtmeNt of PUPPETS.'

In [78]:
#Return a capitalized version of the string.
c.capitalize()

'She had a marvelous assortment of puppets.'

In [81]:
#Return a version of the string where each word is titlecased.

#More specifically, words start with uppercased characters and all remaining cased characters have lower case.

c.title()

'She Had A Marvelous Assortment Of Puppets.'

In [83]:
f"And then he said: 'My name is {x}'"

"And then he said: 'My name is HelloWorld'"

In [84]:
# é util nessas horas usar methods, pq não modifica o original no fim...
f"And then he said: 'My name is {x.lower()}'"

"And then he said: 'My name is helloworld'"

# STRIP

quando ta tudo cagado, do tipo ' CPF' ao invés de 'CPF'

In [93]:
d = ' I have a tedency to leave trailing spaces. '

In [94]:
# .STRIP(). 
# Return a copy of the string with leading and trailing whitespace remove.

# If chars is given and not None, remove characters in chars instead.

d.strip()

'I have a tedency to leave trailing spaces.'

In [95]:
d.rstrip()

' I have a tedency to leave trailing spaces.'

# Replacing values

In [103]:
e = 'I thought the movie was wonderful wonderful wonderful!'

In [104]:
# .replace(): Return a copy with all occurrences of substring old replaced by new.
e.replace('movie','film')

'I thought the film was wonderful wonderful wonderful!'

In [105]:
e.replace('mov','film')

'I thought the filmie was wonderful wonderful wonderful!'

In [106]:
e.replace('wonderful','awful')

#geralmente, quando o default é '-1', significa "tudo" o default é: <count=-1>

'I thought the movie was awful awful awful!'

In [108]:
#exemplo

e.replace('wonderful','awful', 2)

'I thought the movie was awful awful wonderful!'

# 2. Regular Expression (RegEx) - Intro

e se tivessem palavras parecidas, que vc tivesse querendo trocar?

Primeiramente, pacote "re"

In [112]:
import re

In [113]:
e = 'I thought the movie was wonderful Wonderful woderful!'

1. re.search: Returns the first instance of an expression in a string.
2. re.findall: Finds all instances of an expression in a string and returns them as a list.
3. re.split: Splits a string based on a specified delimiter.
4. re.sub: Substitutes a string/substring with anoter.

In [115]:
text = 'My neighbor, Mr. Rogers, has 5 dogs.'
pattern = 'neigh'

re.findall(pattern,text)

['neigh']

In [116]:
text = 'My neighbor, Mr. Rogers, has 5 dogs.'
pattern = 'aasdas'

re.findall(pattern,text)

[]

## sets in RE

In [117]:
text = 'My neighbor, Mr. Rogers, has 5 dogs.'
pattern = '[neigh]'

re.findall(pattern,text)

['n', 'e', 'i', 'g', 'h', 'g', 'e', 'h', 'g']

ou então, variando com colchetes

In [120]:
text = 'My neighbor, Mr. Rogers, has 5 rogers.'
pattern = '[Rr]ogers'

re.findall(pattern,text)

['Rogers', 'rogers']

In [123]:
text = 'Sáo Paulo São Paulo Sao Paulo Sao Paolo San Pablo sao paulo'
pattern = '[Ss][aãáàAÃÁÀ][on] [Pp]a[bou]lo '

re.findall(pattern,text)

['Sáo Paulo ', 'São Paulo ', 'Sao Paulo ', 'Sao Paolo ', 'San Pablo ']

### Pattern Sets

1. [a-z]: Any lowercase letter between a and z.
2. [A-Z]: Any uppercase letter between A and z.
3. [0-9]: Any numeric character between 0 and 9.

In [124]:
text = 'My neighbor, Mr. Rogers, has 5 rogers.'
pattern = '[a-e]'

re.findall(pattern,text)

['e', 'b', 'e', 'a', 'e']

In [125]:
re.findall('[O-Z]',text)

['R']

In [127]:
re.findall('[0-9]',text)

['5']

In [128]:
#tudo que é maiusculo e tudo qeu é minusculo
re.findall('[A-Z0-9]',text)

['M', 'M', 'R', '5']

The opposit:
   * ^ matches everything except the pattern

In [129]:
# esse chapel inverte o padrão. Pega tudo exceto o conjunto
pattern = '[^a-z]'
re.findall(pattern, text)

['M', ' ', ',', ' ', 'M', '.', ' ', 'R', ',', ' ', ' ', '5', ' ', '.']

In [130]:
# retorna a lsita de cima sem os maiusculos
pattern = '[^a-zA-Z]'
re.findall(pattern, text)

[' ', ',', ' ', '.', ' ', ',', ' ', ' ', '5', ' ', '.']

In [131]:
# retorna tira numeros tbm
pattern = '[^a-zA-Z0-9]'
re.findall(pattern, text)

[' ', ',', ' ', '.', ' ', ',', ' ', ' ', ' ', '.']

In [132]:
# remove até espaços
pattern = '[^a-zA-Z0-9 ]'
re.findall(pattern, text)

[',', '.', ',', '.']

In [133]:
# outra forma de remover espaços
pattern = '[^a-zA-Z0-9\s]'
re.findall(pattern, text)

[',', '.', ',', '.']

In [136]:
#achar só espaços
re.findall('[ ]',text)

[' ', ' ', ' ', ' ', ' ', ' ']

In [138]:
#ou
re.findall('[\s]',text)

[' ', ' ', ' ', ' ', ' ', ' ']

### Meta Characters

1. \w: Any alphanumeric character.
2. \d: Any numeric character.
3. . : Any character except newline (\n).

In [139]:
text  = 'My neighbor, Mr. Rogers, ] has 5 - dogs 10.'

In [140]:
print(re.findall('\w',text))

['M', 'y', 'n', 'e', 'i', 'g', 'h', 'b', 'o', 'r', 'M', 'r', 'R', 'o', 'g', 'e', 'r', 's', 'h', 'a', 's', '5', 'd', 'o', 'g', 's', '1', '0']

In [141]:
print(re.findall('.', text))

['M', 'y', ' ', 'n', 'e', 'i', 'g', 'h', 'b', 'o', 'r', ',', ' ', 'M', 'r', '.', ' ', 'R', 'o', 'g', 'e', 'r', 's', ',', ' ', ']', ' ', 'h', 'a', 's', ' ', '5', ' ', '-', ' ', 'd', 'o', 'g', 's', ' ', '1', '0', '.']

### Quantifiers

1. *: 0 or more
2. ?: 0 or 1
3. +: 1 or more

In [142]:
text  = '''My neighbor, Mr. Rogers, ] has 5 - dogs 100.'''

In [145]:
#procuro characteres numericos que aparecem um ou mais vezes:
re.findall('\d*',text)

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '5',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '100',
 '',
 '']

In [146]:
#para nao aparecer todo lixo
re.findall('\d+',text)

['5', '100']